[project]
	description = Container Cluster Manager from Google
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nir Dothan (nirdothan)
[access "refs/for/refs/*"]
	read = group user/Nir Dothan (nirdothan)
	push = group user/Nir Dothan (nirdothan)
	label-Code-Review = -2..+2 group user/Nir Dothan (nirdothan)
	label-Verified = -1..+1 group user/Nir Dothan (nirdothan)
	rebase = group user/Nir Dothan (nirdothan)
	removeReviewer = group user/Nir Dothan (nirdothan)
	submit = group user/Nir Dothan (nirdothan)
[access "refs/heads/*"]
	read = group user/Nir Dothan (nirdothan)
	create = group user/Nir Dothan (nirdothan)
	push = +force group user/Nir Dothan (nirdothan)
	pushMerge = group user/Nir Dothan (nirdothan)
[access "refs/tags/*"]
	push = group user/Nir Dothan (nirdothan)
	push = +force group user/Nir Dothan (nirdothan)
